Host bigkun2
	Port 4280
   User tzd

Host kodi
   Port 4280
   User tzd

Host cerberus
   Port 4280
   User root

Host git.lebousquet.org
	Port 2480
	User batoo

Host lebousquet.org
	Port 4280
   User tzd

Host lebousquet.hd.free.fr
   Port 4280
   User tzd

Host backup.lebousquet.org
   Port 4280
   User tzd

Host twin
	Hostname 10.0.0.5
	Port 4280
   User tzd

Host saloon
   Hostname 10.0.0.7
   Port 4280
   User tzd

Host bigpc
   Hostname 10.0.0.17
   Port 4280
   User tzd

Host alteca
   Hostname 10.0.0.8
   Port 4280
   User tzd

Host hubik
   Hostname 10.0.0.13
   Port 4280
   User tzd

Host bjork
   Hostname 10.0.0.6
   Port 4280
   User tzd

Host hprout
   Hostname 10.0.0.24
   Port 4280
   User tzd

Host mimoume
   Hostname 10.0.0.16
   Port 4280
   User tzd

Host ricola
   Hostname 10.0.0.15
   Port 4280
   User tzd

Host thinky
   Hostname 10.0.0.10
   Port 4280
   User tzd

Host protos
   Hostname 10.0.0.3
   Port 4280
   User tzd

Host grantios
   Port 4280
   User tzd

Host sweety
   Hostname 10.0.0.19
   Port 4280
   User tzd
